@import url("screen.css"); /* default gitit screen styles */
@import url("hk-pyg.css"); /* for syntax highlighting */

/* Put your custom style modifications here: */

/* colour scheme:
#123557
#385f85
#719cc5
#89a8c5
#cc984c
*/

html {
  background: #385f85;
}

body {
  background: #385f85;
  margin: 0px;
  padding: 0px;
}

#all {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

#logo {
  float: left;
  padding-right: 10px;
}

div#search {
  float: right;
}

#content {
  margin: 1em;
  border: 1px solid #123557;
}

div#TOC {
  background-color: white;
  float: right;
}

#footer {
  color: #719cc5;
}

#footer a {
  color: #719cc5;
}

div.tool-category {
  float: left;
}

div.filler {
  clear: both;
}

div.tool-category fieldset {
  border: none;
  padding: 0em;
}

div.tool-category * {
  color: #719cc5;
  text-decoration: none;
  list-style-type: none;
}

#exportbox {
  margin: 0.3em 0 0.5em 0;
}

#exportbox select {
  background: #385f85;
  border: 1px solid #719cc5;
}

#exportbox input[type="submit"] {
  background: #385f85;
  border: 1px solid #719cc5;
}

h2, h3, h4, h5, h6 {
  border-bottom: 0px;
}

.frontpage-thumbnail {
  float: right;
  clear: right;
  border: none;
  margin: 0 0 1em 1em;
}

.photo-right {
  float: right;
  clear: right;
  border: none;
  margin: 0 0 1em 1em;
}

.photo-left {
  float: left;
  clear: left;
  border: none; 
  margin: 0 1em 1em 0;
}

.photo-centre {
  display: block;
  border: none; 
  margin: 1em auto 1em auto;
}

.plot-centre {
  border: none;
  margin: 0 auto;
  display: block;
}

.map {
  border: 1px solid black;
  margin: 0 auto;
  display: block;
}

.map-right {
  float: right;
  clear: right;
  border: 1px solid black;
  margin: 0 0 1em 1em;
}