@import url("screen.css"); /* default gitit screen styles */
@import url("hk-pyg.css"); /* for syntax highlighting */

:root {
  --bg-color: #ffffff;
  --primary-color: #657b83;
  --nav-color: #93a1a1;
  --secondary-color: #e4e7e7;
  --link-color: #268bd2;
}

@font-face {
    font-family: "et-book";
    src: url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
    src: url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "et-book";
    src: url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
    src: url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: "et-book";
    src: url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
    src: url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "et-book-roman-old-style";
    src: url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
    src: url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #282828;
    --primary-color: #bababa;
    --nav-color: #686868;
    --secondary-color: #505050;
    --link-color: #91c4e3;
  }
}

html {
  background: var(--bg-color);
}

body {
  background: var(--bg-color);
  margin: 0em;
  padding: 0em;
  font-family: Georgia, serif;
  text-align: center;
}

#all {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  position: relative;
}

header {
  position: fixed;
  top: 0px;
  width: inherit;
  height: 4em;
  background: var(--bg-color);
  display: block;
  z-index: 5000;
  border-bottom: 1px solid var(--nav-color);
}

header a:link {
  color: var(--nav-color);
}

header a:visited {
  color: var(--nav-color);
}

nav {
  width: 100%;
  position: absolute;
  left: 0em;
  float: left;
}

nav > ul {
  list-style: none;
  position: relative;
}

nav > ul > li {
  float: left;
  padding-right: 10px;
}

nav > ul > li.edit {
  padding-left: 300px;
}

nav > ul > li.search {
  float: right;
}

#logo {
  float: left;
  padding-right: 10px;
}

div#search {
  float: right;
}

#searchform {
  margin-top: 0em;
}

#searchform input[type='text'] {
  border-radius: 0.2em;
  border: 1px solid var(--nav-color);
  background: var(--bg-color);
  color: var(--primary-color) !important;
  float: left;
  margin-top: 0.5em;
}

textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus { 
  border-color: var(--nav-color); 
  outline: none; 
}

#searchform input[type='image'] {
  padding-left: 1em;
  position: relative;
  top: 0em;
}

#content {
  margin: 3em 0em 0em 0em;
  border: 0px;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-size: 1.2rem;
  line-height: 2rem;
}

#content p, #content li, #content table, #content dl {
  font-family: et-book,Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
  color: var(--primary-color);
  font-size: 1.3rem;
}

#content pre {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
}

th, td {
  padding: .2em;
}

div#TOC {
  background-color: var(--bg-color);
  border: none;
  float: right;
}

div#categoryList {
  border-radius: 0.2em;
  border: 1px dotted var(--nav-color);
}

textarea, input[type='text'], input[type='password'], select {
  background: var(--bg-color);
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}

footer {
  color: var(--nav-color);
  text-align: center;
}

footer > a:link {
  color: var(--nav-color);
}

footer > a:visited {
  color: var(--nav-color);
}

#tools {
  font-family: "Gill Sans","Gill Sans MT","Lato",Calibri,sans-serif;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 10em;
}

#logo {
  margin-top: 1em;
}

div.tool-category {
  float: left;
}

div.tool-category a:link {
  color: var(--nav-color);
}

div.tool-category a:visited {
  color: var(--nav-color);
}

div.filler {
  clear: both;
}

div.tool-category fieldset {
  border: none;
  padding: 0em;
}

div.tool-category * {
  color: var(--nav-color);
  text-decoration: none;
  list-style-type: none;
}

div.figure {
  text-align: center;
}

#exportbox {
  margin: 0.3em 0 0.5em 0;
}

#exportbox select {
  background: var(--bg-color);
  color: var(--nav-color);
  border: 1px solid var(--nav-color);
}

#exportbox input[type="submit"] {
  background: var(--bg-color);
  border: 1px solid var(--nav-color);
}

select:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  border-bottom: 0px;
}

h1, h1.pageTitle {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-weight: 400;
  font-size: 2.2rem;
  font-style: italic;
  margin-top: 4rem;
  margin-bottom: 1.4rem;
}

h1 > a:link, h1 > a:active, h1 > a:hover, h1 > a:focus, h1 > a:visited, 
h2 > a:link, h2 > a:active, h2 > a:hover, h2 > a:focus, h2 > a:visited, 
h3 > a:link, h3 > a:active, h3 > a:hover, h3 > a:focus, h3 > a:visited, 
h4 > a:link, h4 > a:active, h4 > a:hover, h4 > a:focus, h4 > a:visited, 
h5 > a:link, h5 > a:active, h5 > a:hover, h5 > a:focus, h5 > a:visited, 
h6 > a:link, h6 > a:active, h6 > a:hover, h6 > a:focus, h6 > a:visited {
  color: var(--primary-color);
}

a:link {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-color);
  text-decoration: none;
}

.frontpage-thumbnail {
  float: right;
  clear: right;
  border: none;
  margin: 0 0 1em 1em;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);
}

.photo-right {
  float: right;
  clear: right;
  border: none;
  margin: 0 0 1em 1em;
}

.photo-left {
  float: left;
  clear: left;
  border: none; 
  margin: 0 1em 1em 0;
}

.photo-centre {
  display: block;
  border: none; 
  margin: 1em auto 1em auto;
}

.plot-centre {
  border: none;
  margin: 0 auto;
  display: block;
}

.map {
  border: 1px solid var(--nav-color);
  margin: 0 auto;
  display: block;
}

.map-right {
  float: right;
  clear: right;
  border: 1px solid var(--nav-color);
  margin: 0 0 1em 1em;
}

blockquote {
  color: var(--primary-color);
  font-style: italic;
}

pre {
  color: var(--primary-color);
  padding: 0.5em;
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

code {
  font-family: Iosevka, PragmataPro, Consolas, monospace;
  border: none;
  line-height: 1.5rem;
  background-color: var(--bg-color);
}

code > span.kw {
  color: #657b83;
}

code > span.dt {
  color: #2aa198;
}

code > span.fu {
  color: #657b83;
}

code > span.ot {
  color: #839496;
}

code > span.dv {
  color: #839496;
}

code > span.st {
  color: #b58900;
}

code > span.co {
  color: #859900;
}

.added {
  color: #859900;
  background: none;
}

.deleted {
  color: #dc322f;
}

.asciiart {
  color: var(--primary-color);
  background: var(--bg-color);
  border: none;
  box-shadow: none;
}

div.diagram {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
}

@media only screen and (max-device-width: 750px) {
  #all { 
    width: 100%;
  }

  header {
    position: relative;
    height: 7em;
  }

  nav > ul > li.edit {
    padding-left: 30px;
  }

  #content {
    margin: 0px;
  }
}

